@model List<object[]>

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<h2 style="text-align:center;margin: 30px;">Парсинг абонентов из Битрикс24</h2>
<div style="width: 400px; margin:0px auto;">
    @if (Model != null)
    {
    <form action="/parstask" method="post" enctype="application/x-www-form-urlencoded">


        <div>
            <span>Номер задачи в B24</span>
            <select name="IdTaskB24">
                @foreach (var item in Model)
                {
                    <option value="@item[0]">@item[0] :: @item[1]</option>
                }
            </select>
            <input type="hidden" value="@ViewBag.Domen" name="Domen" style="width: 300px;">
            <input type="hidden" value="@ViewBag.Hesh" name="Hesh" style="width: 300px;">
        </div>
        <div>
            <span>Название таблицы(латиница)</span>
            <div>
                <input type="text" value="table" name="NameTbl" style="width: 300px;">
            </div>
        </div>
        <input id="parse" type="submit" value="Парсинг" onclick="block()">
        <div id="text"></div>
    </form>
    }
    else
    {
        <form action="/index" method="post" enctype="application/x-www-form-urlencoded">
            <div>
                <span>Домен битрикс</span>
                <div>
                    <input type="text" value="@ViewBag.Domen" name="Domen" style="width: 300px;">
                </div>
            </div>
            <div>
                <span>Хеш доступа</span>
                <div>
                    <input type="text" value="@ViewBag.Hesh" name="Hesh" style="width: 300px;">
                </div>
            </div>
            <div><input type="submit" value="Продолжить"></div>
        </form>
        <div>
            <p>https://<b>b24-t79gnp.bitrix24.by</b>/ - домен вашего портала в строке браузера(без http и слэшей)</p>
            <p>10/s65q8h2evuzwnd4f - хеш для доступа к вебхукам. Для получения откройте страницу битрикс24 с приложением справа в колонке кнопка, далее раздел вебхуки, создаете входящий вебхук с доступом CRM и Зачачи. Получает хеш https://b24-t79gnp.bitrix24.by/rest/ <b>10/s65q8h2evuzwnd4f</b> /profile/ </p>
        </div>

}
    </div>
<script type="text/javascript">
    function block(){
        $("#parse").attr("disabled", "disabled");
        setInterval(Upcount, 3000);
    }
    function Upcount() {
        $.ajax({
            url: '/countparse',         /* Куда пойдет запрос */
            method: 'get',             /* Метод передачи (post или get) */
            success: function (data) {   /* функция которая будет выполнена после успешного запроса.  */
                $("#text").html("<p>Добавлено строк: " + data + "</p>");           /* В переменной data содержится ответ от index.php. */
            }
        });
    }


</script>

